body {
    font-family: 'Titillium Web', sans-serif;
}

.navbar {
    padding: 5px;
}

header {
    margin-top: 75px;
}

.title {
    text-align: center;
    font-weight: 700;
}

p {
    text-align: justify;
    font-size: 20px;
}

#testimonial {
    background: #f1f1f1;
    padding: 50px 0 30px 0;
    text-align: center;
    margin-top: 40px;
}

.carousel {
    border: 6px double #f1f1f1;
    border-radius: 5px;
    -webkit-box-shadow: 10px 10px 43px -1px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: 10px 10px 43px -1px rgba(0, 0, 0, 0.52);
    box-shadow: 10px 10px 43px -1px rgba(0, 0, 0, 0.52);
}

footer {
   background: #636e72;
}